body {
    background: #d7d7d7;
    font-family: arial, helvetica, sans-serif;
}

svg {
    background-color: white;
}

path {
    fill: none;
    stroke: #000;
    stroke-width: 0.15;
}

circle {
    fill: blue;
    opacity: 0.25;
}

.chart-container {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}