body {
    background: #d7d7d7;
    font-family: arial, helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
    font-size: 8px;
}

.chart-heading {
    max-width: 54em;
    margin: 20px auto 50px;
}

.chart-heading h1,
.chart-heading h4 {
    margin: 10px 0;
}

.chart-container > .chart-wrap .x.axis text {
    transform-origin: top right;
    transform: translate(-20px, 15px) rotate(-60deg);
    font-size: 9px;
}

.chart-container > .chart-wrap .x.axis line,
.chart-container > .chart-wrap .x.axis path {
    display: none;
}

.chart-container {
    display: block;
    position: relative;
    width: 900px;
    margin: 30px auto 0;
    padding: 15px;
    background: white;
}

.bar:hover text {
    opacity: 1;
}

.key {
    list-style-type: none;
    margin: 0;
}

.key-item {
    display: inline-block;
    position: relative;
    padding-left: 13px;
    margin-right: 20px;
}

.key-item .item-color {
    position: absolute;
    top: 3px;
    left: 0;
    height: 10px;
    width: 10px;
}